import geoserverapirest as gs
reload(gs)

config = {
    "servers": [
        {
            "url": "###",
            "admin_user": "###",
            "admin_pass": "###"
        }] #,
        # {
        #     "url": "http://localhost:8084/geoserver",
        #     "admin_user": "admin",
        #     "admin_pass": "geoserver"
        # }]
}

    


# # Basic usage          

gsins = gs.GsInstance("http://localhost:8084/geoserver", "admin", "geoserver")

# gsins = gs.GsInstance("###", "###", \
#                       "###")

# layer_0 = gs.GsLayer(gsins.layers["parcelas_xml_localizadas"], gsins)

# layer_1 = gs.GsLayer(gsins.layers["parcelas_candidatas"], gsins)

# layer_0 = gs.GsLayer(gsins.layers["municipio"], gsins)

# layer_1 = gs.GsLayer(gsins.layers["municipio_cadiz"], gsins)

# featureType_0 = gs.GsFeatureType(layer_0.featureType, gsins)

# featureType_1 = gs.GsFeatureType(layer_1.featureType, gsins)

# dataStore_0 = gs.GsDataStore(featureType_0.store["href"], gsins)

# dataStore_1 = gs.GsDataStore(featureType_1.store["href"], gsins)

# workspace_0 = gs.GsWorkspace(dataStore_0.workspace["href"], gsins)

# workspace_1 = gs.GsWorkspace(dataStore_0.workspace["href"], gsins)



print "workspace|datastore|layer|type|sql_table|host|schema"

for server in config["servers"]:
    gsins = gs.GsInstance(server["url"], server["admin_user"], \
                          server["admin_pass"])

    for layer,url in gsins.layers.iteritems():
        layer = gs.GsLayer(gsins.layers[layer], gsins)
        featureType = gs.GsFeatureType(layer.featureType, gsins)
        dataStore = gs.GsDataStore(featureType.store["href"], gsins)
        workspace = gs.GsWorkspace(dataStore.workspace["href"], gsins)

        if dataStore.storeType=="PostGIS":
            s = "%s|%s|%s|%s|%s|%s|%s" % ( \
                workspace.name, \
                dataStore.name, \
                layer.name, \
                featureType.featureTypeSubtype, \
                featureType.getVirtualSql().replace("\n\r"," ").replace("\n", " "). \
                replace("\r", " ").replace("\r\n", " ").replace("  ", " "). \
                replace("  ", " ").replace("  "," ") \
                if featureType.getVirtualSql() is not None \
                else featureType.nativeName, \
                dataStore.connectionParameters["host"], \
                dataStore.connectionParameters["schema"] \
                )

            print s.replace(" |","|")
